div{
    border: solid 1px gray;
    width: 500px;
    text-align: center ;
    margin:10px;
}
.mainlogo{
    width: 200px;
}
.namebox,.passwordbox{
    padding: 10px;
    width: 300px;
    margin-top: 10px;
    border: solid 1px gray;
    background-color: rgb(235, 235, 235);
    border-radius: 3px;
}
.login{
    border: solid 0px;
    border-radius: 5px;
    background-color: rgb(0, 174, 255);
    width: 320px;
    padding: 10px;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.facebook{
    font-weight: bold;
    color: rgb(7, 7, 134);
}
.password{
    font-size: 10px;
    color: rgb(3, 3, 88);
    
}
.box2{
    margin: 20px 10px;
    padding: 10px ;
}
