div{
    border: solid 1px gray;
    width: 450px;
    text-align: center ;
    margin:10px;
}
.box1{
    padding-top: 50px;
}
.mainlogo{
    width: 200px;
    padding-bottom: 20px;
}
.namebox,.passwordbox{
    padding: 10px;
    width: 300px;
    margin-top: 10px;
    border: solid 1px rgb(163, 162, 162);
    background-color: rgb(235, 235, 235);
    border-radius: 3px;
}
.login{
    border: solid 0px;
    border-radius: 5px;
    background-color: rgb(0, 174, 255);
    width: 320px;
    padding: 10px;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.facebooklogo{
    display: inline;
    width: 20px;
}
.facebook{  
    display: inline;
    font-weight: bold;
    color: rgb(7, 7, 134);
}
.password{
    font-size: 13px;
    color: rgb(3, 3, 88);
    display: block;
    margin: 10px;   
}
.box2{
    box-sizing: border-box;
    display: block;
    margin: 15px 10px;
    padding: 25px ;
}
.join{
    font-weight: bold;
    color: rgb(0, 174, 255);
}
a{
    text-decoration: none;
}