*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color:#333;
}
/*입력*/
#wrap{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
#content{

}
/*출력*/
table{
    width: 500px;
    margin: 50px auto;
}